/* basic setup */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.header-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  width: 100%;
  height: 90%;
}

/*  */
.nav-container {
  background-color: #262527;
  width: 20%;
  height: 100%;
  color: #fff;
  text-align: center;
}

.nav-title-container {
  padding-top: 15%;
}

.match-amount-container {
  font-size: 400%;
  font-weight: 700;
  margin-top: 5%;
}

.current-matches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  height: 30%;
  width: 100%;
}
.current-match {
  background-color: #A9A9A9;
  width: 23%;
  margin: 3.5%;
}

.top-scores {
  display: flex;
  height: 27%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  padding-bottom: 15%;
  margin-top: 38%;
}

/* cards */
.card-container {
  width: 80%;
  height: 100%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background-image: url("assets/bey-background-option.jpg");
}

.card {
  border: 3px solid #262527;
  width: 130px;
  height: 170px;
  margin: 20px 50px;
  background-color: #fff;
  cursor: grabbing;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  font-weight: 700;
}

.card-1 {
  transform: translateY(100px);
}

.card-2 {
  transform: rotate(-15deg);
}

.card-3 {
  transform: rotate(-4deg);
}

.card-4 {
  transform: rotate(10deg);
}

.card-5 {
  transform: translateY(150px) rotate(-10deg);
}

.card-6 {
  transform: translateX(-20px) rotate(10deg);
}

.card-7 {
  transform: translateX(-20px) rotate(-10deg) ;
}

.card-8 {
  transform: translateX(50px) ;
}

.card-9 {
  transform: translate(120px, -20px) rotate(8deg);
}

.card-10 {
  transform: translate(150px, -40px) rotate(-20deg);
}

.win-page-container {
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 90%;
  background-color: #d3d3d3;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(199, 199, 199, 0.9)), url("assets/bey1.jpg");
  background-size: cover;

}

.congrats {
  font-size: 600%;
  font-weight: 700;
  margin-top: 9%;
}

.match-quantity {
  font-size: 290%;
  margin-top: 3%;
}

.total-time {
  font-size: 320%;
  margin-top: 1%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-top: 4%;
}
.play-again-button,
.new-game-button {
  font-weight: 300;
  background-color: #262527;
  color: #fff;
  font-size: 200%;
  padding: 15px 60px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: 0px;
}

.play-again-button:hover,
.new-game-button:hover {
  background-color: #616161;
  transition: background-color 1s;
}

.hide {
  display: none;
}
